<div class="panel-footer">
  <div class="form-group">
    <%= form_with(model: [group, message], url: group_messages_path(@group) ) do |f| %>
      <%= f.text_field :content, size: "100×100", class: "form-control input-sm" %>
    <% end %>
  </div>
</div>
