<div class="col-xs-9">
<h2>Users</h2>
    <table>
      <thead>
        <tr>
          <th>image</th>
          <th>nickname</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td>
            <%= attachment_image_tag(user, :profile_image, size: "100x60", fallback: "4dbc7e0f.jpg") %>
          </td>
          <td>
            <%= user.nickname %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
