<div class="col-xs-12">
<h2>Users</h2>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>ニックネーム</th>
          <th>自己紹介</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to user_path(user.id) do %>
            <%= attachment_image_tag(user, :profile_image, size: "100x60", fallback: "4dbc7e0f.jpg") %>
            <% end %>
          </td>
          <td>
            <%= user.nickname %>
          </td>
          <td>
            <%= user.introduction %>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
