<div class="quit"> 
  <strong>本当に退会しますか？</strong>

    <div class="quit-msg">
      退会すると会員情報が消えます。<br>
      退会する場合は,「退会する」をクリックしてください。
    </div>

    <%= link_to "退会しない", users_path, class: 'glyphicon glyphicon-home btn btn-primary' %>
    <%= link_to "退会する", out_users_path, method: :PATCH, data: {confirm: "本当に退会してもよろしいですか？"}, class: "glyphicon glyphicon-tint btn btn-danger" %>

</div>
