<div class="col-xs-12">
<h2>マイページ</h2>
  <table class="table">
    <tr>
        <%= attachment_image_tag(@user, :profile_image, size: "100x60", fallback: "4dbc7e0f.jpg") %>
    </tr>
      <th>ニックネーム</th>
      <th>
        <%= @user.nickname %>
      </th>
    </tr>
    <tr>
      <th>自己紹介</th>
      <th>
        <%= @user.introduction %>
      </th>
    </tr>
  </table>
</div>

