<body class="about">
<div class="a">
  <div class="b">
    <%= image_tag asset_path("o0425028312613913455.jpg"), class: "c" %>
    <p>同じ悩みを持つ仲間達と</p>
  </div>
  <div class="b">
    <%= image_tag asset_path("7757ca0ebc06bc0cea7813e754028637_t.jpeg"), class: "c" %>
    <p>悩みを相談することで</p>
  </div>
  <div class="b">
    <%= image_tag asset_path("width_1061.png"), class: "c" %>
    <p>新しい出会いを繋げたい❤️</p>
  </div>
</div>
</body>