<div class="col-xs-9">
<h2>お悩み一覧</h2>

<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>タイトル</th>
      <th>投稿内容</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td>
        <%= attachment_image_tag(post.user, :profile_image, size: "100x60", fallback: "4dbc7e0f.jpg") %>
      </td>
      <td>
        <%= link_to post.title, post_path(post.id)%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>



