<div class="col-xs-9">
  <h2>投稿詳細</h2>
  <div class="field">
    <p>
      タイトル                    <%= @post.title %>
    </p>
  </div>
  <div class="field">
    <p>
      投稿内容                    <%= @post.body %>
    </p>
  </div>
