/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets"; 
@import "bootstrap"; 
@import 'font-awesome-sprockets';
@import 'font-awesome';


.flash{
  width: 30%;
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
  border: 1px solid rgba(0,0,0,.20);
  padding: 7px;
  font-weight:bold;
  &.notice{
    background-color:white;
    color:black;
  }
}

#error_explanation {
  color: red;
}

#error_explanation ul li {
  color: red;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  padding-bottom: 0;
  background-color: #CCFFCC;
  font-family: 'HanziPen SC','Comic Sans MS','Impact','Wawati SC',sans-serif!important;
}

header {
  width: 100%;
  padding: 30px 4% 10px;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 30;
}

h1 {
  margin: 0; 
  padding: 0;
  font-size: 20px;
}

a { 
  color: #4b4b4b;
}

nav {
  margin: 0 0 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

.glovalNavigation {
  margin-top: 60px;
  margin-bottom: 40px;
  height: 50px; 
  text-align: center; 
  background-color: #888;
  color: #fff;
  width: 100%; 
}

.test {
  z-index: 20;
}

#pageTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#pageTop i {
  padding-top: 6px
}

#pageTop a {
  display: block;
  z-index: 999;
  padding: 8px 0 0 8px;
  border-radius: 30px;
  width: 35px;
  height: 35px;
  background-color: #9FD6D2;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

#pageTop a:hover {
  text-decoration: none;
  opacity: 0.7;
}


.footer {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #eee;
  position: absolute;
  bottom: 0; 
  margin-bottom: 0;
}



.wrapper {    
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
}

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}


table{
  border-collapse: separate;
  border-spacing: 0px 5px;
}

table th:nth-child(1) {

}
table th:nth-child(2) {

}
table th:nth-child(3) {

}
table th:nth-child(4) {

}
td{
  padding: 10px;
  background: #f1fafe;
}
th{
  background: #10a0e0;
  color: #fff;
}


.c{
  height: 500px;
  width :100%;
}

.slick-dots{
  li{
    font-size: 20px !important;
    button:before{
      content: "⭐︎" !important;
      font-size: 14px !important;
      color: rgb(60,60,60) !important;
    }
  }
}




