// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
  background-image: url(/assets/o0425028312613913455.jpg);
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
  background-size: cover;
}

.sample {
  margin-top: 80px;
  color: #00FF7F  ;
  font-size: 50px;
  font-family: "arial black";
  text-align: center;
}

.c{
  height: 500px;
  width :100%;
}

.slick-dots{
  li{
    font-size: 20px !important;
    button:before{
      content: "⭐︎" !important;
      font-size: 14px !important;
      color: rgb(60,60,60) !important;
    }
  }
}

.b {
  position: relative;
}

.b p{
    position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  top: 0;
  left: 0;
}