// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
  background: linear-gradient(-45deg, rgba(246, 255, 0, .8), rgba(255, 0, 161, .8)),
  image-url("bg-cherrybrossam.jpg");
}

.sample {
  margin-top: 100px;
  color: white ;
  font-size: 40px;
  font-family: "arial black";
  text-align: center;
}


.about {
  background-image: image-url("watermark.jpg");
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
  background-size: cover;
}

.c{
  height: 500px;
  width :100%;
  border-radius: 50%;
}

.slick-dots{
  li{
    font-size: 20px !important;
    button:before{
      content: "⭐︎" !important;
      font-size: 14px !important;
      color: rgb(60,60,60) !important;
    }
  }
}

.b {
  position: relative;
}

.b p{
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 50px;
  top: 50%;
  left: 25%;
  margin: 0;
  padding: 0;
}

