<nav class="nav">
  <ul class="list-group.list-group-horizontal">
    <li class="list-group-item">
      <%= link_to 'Home', root_path %>
    </li>
    <li class="list-group-item">
      <%= link_to 'About', homes_about_path, data: {"turbolinks"=>false} %>
    </li>
    <li class="list-group-item">
      <%= link_to 'お問い合わせ', new_contact_path %>
    </li>
    <li class="list-group-item">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= link_to '通知メール一覧', letter_opener_web_path %>
        <% end %>
      <% end %>
    </li>
  </ul>
</nav>