<h1>
  <a><%= link_to "職LOVE", root_path %></a><i class="fa fa-heart" aria-hidden="true"></i>
</h1>
  <nav class="pc-nav">
    <ul>
      <li class="list-group-item">
        <%= link_to 'お問い合わせ', new_contact_path %>
      </li>
    </ul>
  </nav>
